body{
background-color:gray;
background-image: url("../image/dunkirk.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.container1{
margin-left: auto;
margin-right: auto;
width: 80%;
background-color: black;
text-align: center;
}

 /* NOTE: containers are made so I'm able to group elements of the website together, and therefore be able to have them aligned in a particular way, meaning the website looks neater and is more organised, meaning it's more appealing to the individual using my site. */
h1{
  text-align: center;
  color: darkblue;
  font-family: vernanda;
  font-size: 60px;
  background-color: lightgray;
}

.para1{
text-align: center;
color: white;
font-family: courier;
font-size: 20px;
}

.container2{
  display: flex;
  align-content: center;
  margin-left: 450px;

}

.container3{
display: inline-flex;

}
/* NOTE: Flex boxes are being used in order to group particular content together, meaning that they can be grouped together and therefore create a more oganised lay out of the website. This allows related content to be grouped together so it can be organised and be grouped together in terms of content, an example of this is each of the actor roles and the content found for them are all grouped together so it is easy to understand information about each individual.  */
h2{
text-align: center;
color: darkblue;
font-family: vernanda;
font-size: 40px;
background-color: lightgray;
}

.photo1{
  display:inline-flex;
width: 300px;
height:400px;

}
.fionninterview{
display: flex;
margin-left: 260px;

}
.para2{
text-align: center;
color: white;
font-family: courier;
font-size: 16px;

}

.photo2{
  display: inline-flex;
  width: 300px;
  height: 300px;
}

.para3{
  text-align: center;
  color: white;
  font-family: courier;
  font-size: 16px;

}



.container4{
  display: flex;
}

.container5{
  display: flex;
}

.Photo3{
  display: inline-flex;
  width: 300px;
  height: 300px;
}
.para4{
  text-align: center;
  color: white;
  font-family: courier;
  font-size: 16px;

}
.aneurininterview{
  display: flex;
  margin-left: 260px;
}


footer{
  color: white;

}
/* NOTE: style.css allows the page to be well organised and easy to navigate, meaning that users have an enjoyable experience on the website, and can find things easily. This is why the menu is at the top of the page under the title, to allow users to navigate the site easily, and why there is multiple formats of video and audio files, as some people's browsers may not allow a certain type of format, so ensuring there are mutliple types of files, allows people using the site access and can enjoy the trailer and interviews.*/
